# ====================================
# File pribadi — JANGAN upload ke GitHub
# ====================================
*.pdf
!images/Rayhan-Resume.pdf

# ====================================
# File system (otomatis dibuat OS/IDE)
# ====================================
Thumbs.db
.DS_Store
desktop.ini

# ====================================
# IDE / Editor
# ====================================
.vscode/
.idea/

# ====================================
# Node.js (jaga-jaga kalau pernah npm init)
# ====================================
node_modules/
package-lock.json
